*{
	box-sizing:border-box;
}
html{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color:#555;
	font-size:16px;
}
body{
	display: flex;
	flex-direction: column;
	min-height:100vh;
}
.navigation, .section, .news{
	padding: 0.5em;
}
.navigation{
	width: 20%;
}
.section{
	width: 60%;
	font-size:1.25em;
}
.units-list{
	line-height:1.75em;
}
.nav-list{
	padding: 0;
	list-style: none;
}

.nav-list-item{
	background-color:#808080;
	margin-bottom: 0.5em;
	padding-left: 8px;
	padding-right: 8px;
	line-height: 2em;
	color:white;
	overflow: hidden;
        text-overflow: ellipsis;
	white-space: nowrap;
	text-decoration: none;
}

.nav-list-link{
	color:white;
	text-decoration: none;
}

.css-units{
	color:#8b0000;
	background-color:#e5e5e5;
	font-size:1.125em;
	font-weight: 700;
}
.section__header{
	font-size: 5vw;
	text-align: center;
}
.news{
	width: 20%;
}
.header{
	color:white;
	text-align: center;
	background:linear-gradient(60deg, red, orange);
	margin:0;
}

.img1{
	display: none;
	width: 100%;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
	margin-bottom: 25px;
}

.img2{
	visibility: visible;
	width: 100%;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
	margin-bottom: 25px;
}

.main{
	display: flex;
	flex-grow: 1;
}

footer{
	display:flex;
	justify-content: center;
	background-color:#e5e5e5;
	padding: 0.5em;
}

@media screen and (max-width:599px) {
	.main{
	display: flex;
	flex-direction: column;
	}
	.navigation{
		width: 100%;
	}
	.section{
		width: 100%;
	}
	.news{
		width: 100%;
	}
	.img1{
		display: block;
		margin-bottom: 25px;
	}
	.img2{
		visibility: hidden;
		display: none;
	}
}

@media screen and (min-width:600px) and (max-width:1199px){
	.main{
		flex-wrap: wrap;
	}
	.news{
		width: 80%;
	}
	.section{
		width: 80%;
	}
	.img2{
		margin-bottom: 25px;
	}
}
