*{
	box-sizing:border-box;
}
body{
	display: flex;
	justify-content: center;
}
.mountains{
	height:500px;
	width:300px;
	font-size:32px;
	padding-top: 32px;
	font-weight: 700;
	text-align: center;
	background-color: orange;
	background-image: url(nature.jpeg);
	background-position: center;
	background-size:cover;
	color:white;
}